<!doctype html>
<html lang="{{ settings.html_language }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{{ album.title|striptags }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="Lanny mode оптом в Украине">
    <meta name="author" content="{{ album.author }}">
    <meta name="viewport" content="width=device-width">
    {% include 'default_head.html' %}
    {% block extra_head %}{% endblock extra_head %}
    <link rel="stylesheet" href="{{ theme.url }}/styles.css">
    {% if user_css %}
    <link rel="stylesheet" href="{{ theme.url }}/{{ user_css }}">
    {% endif %}
    {% include 'analytics.html' %}
  </head>
  <body>
    {% include 'decrypt.html' %}
    {% include 'gtm.html' %}
    <div class="container">
      <h1><a href="{{ album.index_url }}">{{ index_title }}</a></h1>

      {% include 'links.html' %}

      <div class="content">
        {% include 'breadcrumb.html' %}
        {% block content %}{% endblock %}

        {% if album.description %}
        <div id="description" class="row">
        {{ album.description }}
        </div>
        {% endif %}
      </div>

      {% include 'footer.html' %}
      {% block extra_footer %}{% endblock %}
  </div>
  {% include 'piwik.html' %}
  </body>
</html>
